/* Code examples & syntax highlighting. Syntax-related CSS classes added via Rainbow.js */
pre,
code {
	font-size: 0.9em; /* Looks balanced against surrounding inline text */

	border: 1px solid #eaeaea;
	font-family  : Consolas, 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
	color        : #333;
	background   : #fcfcfc;
	border-radius: 3px;
}

pre {
 	word-wrap    : break-word;
 	padding      : 6px 10px;
 	line-height  : 19px;
 	margin-bottom: 20px;
}

code {
	margin     : 0px 2px;
	padding    : 0px 5px;
}

/* Sometimes a <code> inside a <pre> is being informally used to denote command-line content */
pre code, .rainbow {
	border               : 0px;
	padding              : 0px;
	margin               : 0px;
	border-radius        : 0px;
}

.rainbow .comment {
	color      : #679b7c;
}

.rainbow .keyword {
	font-weight: bold;
	color      : #0080c0;
}

.rainbow .operator {
	color      : #0000a0;
}

.rainbow .builtin {
	color      : #800000;
}

.rainbow .numeric {
	color      : #ff8000;
}

.rainbow .string {
	color      : #808080;
}

.rainbow .character {
	color      : #808080;
}

.rainbow .meta {
	font-weight: bold;
	color      : #2f2f46;
}

.rainbow .preprocessor {
	font-weight: normal;
	color      : #808040;
}

.rainbow .type {
	font-weight: bold;
	color      : #800000;
}

.rainbow .storage {
	font-weight: bold;
	color      : #ae3f71;
}